@import "../styles/variables.scss";

.button {
  height: 36px;
  padding: 8px 16px;
  align-self: flex-end;
  justify-self: end;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $orange 0%,
    $pink-orange 66%,
    $pink 100%
  );
  border: none;
  border-radius: $border-radius;
  color: white;

  &:active {
    cursor: pointer;
  }

  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 2px 2px $pink;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 6px 2px $orange;
  }

  &:disabled {
    cursor: default;
    background-image: none;
    box-shadow: none;
    background-color: $medium-gray;
    cursor: not-allowed;
  }
}
