//grayscale
$light-gray: #b8b8b8;
$medium-gray: #888888;
$dark-gray: #4c4c4c;

// brand
$orange: #ff3f19;
$pink-orange: #ff2727;
$pink: #ff1345;

// inputs
$border-radius: 0.5rem;

// fonts/typography
$base-font-size: 0.875rem;
$base-line-height: 1.44;

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
